<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Jazz Nuggets</h1>

  <p>
    Jazz Nuggets was built by <a target="blank" href="https://twitter.com/erniejamison1">Ernie Jamison</a>, with the help of <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ernie.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ernie Jamison</h2>
    <br />
    <p>
      Musician and web developer, Ernie Jamison is finishing up an undergrad degree in Jazz Studies, double bass, at <a target="_blank" href="http://www.nccu.edu">North Carolina Central University</a> while improving on his web development skills.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />