<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Jazz Splurty</h1>

  <p>
    Jazz Splurty was built by <a target="blank" href="http://github.com/erniej">Ernie Jamison</a>, as part of the curriculum at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ernie.jpg', class: 'img-responsive' %>
  </div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ernie Jamison</h2>
    <br />
    <p>
      Ernie Jamison is studying web development online with <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>. He is also currently finishing up an undergrad degree in Jazz Studies/Bass (just a recital left to graduate). He can imagine no better life for himself than working as a web developer while playing Jazz gigs and spending time with his wife Lisa and cat buddies Bert and Kimora.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />